{% extends 'layout.html.twig' %}
{% block title %}{{ page_title }}{% endblock %}
{% block banner %}
<div id="page-header">
{#    id="banner-div">#}
    <span class ="form_field">
        <h1>MPS organiser</h1><a href="{{ landing_page }}">
        <img src="../media/home.png" height = "50" width="50" alt="Return to homepage">
</a>

    </span>

    <p class="cent">
    </p>
    <hr class="deepline"/>
</div>
<div>
{#    id="clear-div"></div>#}
{% endblock %}