{% extends 'layout.html.twig' %}
{% block title %}{{ page_title }}{% endblock %}
{% block banner %}
{#    id="banner-div">#}
    <span class ="form_field">
<h1 class = "site_title">MPS meeting organiser</h1>
        <a href="{{ landing_page }}">
        <img src="../media/home.png" height = "50" width="50" alt="Return to homepage">
</a>

    </span>

    <hr class="deepline"/>


{#    id="clear-div"></div>#}
{% endblock %}