{% extends 'layout.html.twig' %}
{% block title %}{{ page_title }}{% endblock %}
{% block banner %}
{#    id="banner-div">#}
    <span class ="form_field">
        <a href="{{ landing_page }}">
        <img src="../media/logo.png" height = "50" width="400" alt="Return to homepage">
</a>

    </span>

    <hr class="deepline"/>


{#    id="clear-div"></div>#}
{% endblock %}