{% extends 'banner.html.twig' %}
{% block content %}
<html lang="en">
<head>
    <meta name = "viewport" content = "width=device-width, initial-scale = 1.0">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/css/bootstrap.min.css" type="text/css"/>

    </style>
    <title>Calendar</title>
</head>

<body>
<div class = "container">
    <div class = "row">
        <div class = "col-md-12">
        <?php
            calendar

        </div>
            <p class="curr_page"><a href="{{ landing_page }}">Login page</a>
            <p class="curr_page"><a href="{{ upcoming_meetings }}">Scheduled Meetings</a>
            <p class="curr_page"><a href="{{ meeting_requests }}">New Meeting Requests</a>
            <p class="curr_page"><a href="{{ hosted_meetings }}">Hosted Meetings</a></p>
    </div>
</div>
</body>
</html>
{% endblock %}