{% extends 'banner.html.twig' %}
{% block content %}
<html lang="en">

<head>
    <meta name = "viewport" content = "width=device-width, initial-scale = 1.0">
    <title></title>
</head>
<p class="curr_page"><a href="{{ landing_page }}">Home</a>
<p class="curr_page"><a href="{{ upcoming_meetings }}">Scheduled Meetings</a>
<p class="curr_page"><a href="{{ meeting_requests }}">New Meeting Requests</a>
<p class="curr_page"><a href="{{ landing_page }}">Preferences and account settings</a></p>
<body>

<div id="page-content-div">



</div>

</body>
</html>

{% endblock %}