{% extends 'banner.html.twig' %}
{% block content %}
    <html>
    <head>

        <img src={{ image }} >
        <h1  >Contents of file</h1>
        <div><object data="../upload/Untitled 1.txt"></object></div>

        <a href={{ image }} download>
            <img src="https://external-content.duckduckgo.com/iu/?u=https%3A%2F%2Fcdn0.iconfinder.com%2Fdata%2Ficons%2Fcosmo-layout%2F40%2Fdownload_5-512.png&f=1&nofb=1" alt="W3Schools" width="104" height="142">
        </a>
    </body>
    </html>
{% endblock %}
