{% extends 'banner.html.twig' %}
{% block content %}
<html lang="en">

<head>
    <meta name = "viewport" content = "width=device-width, initial-scale = 1.0">
    <title></title>
</head>
<ul>
    <li><a href="{{ landing_page }}">Home</a></li>
    <li><a href="{{ upcoming_meetings }}">Scheduled Meetings</a></li>
    <li><a href="{{ meeting_requests }}">New Meeting Requests</a></li>
    <li><a href="{{ landing_page }}">Preferences and account settings</a></li>
</ul>
<body>

</body>
</html>



{% endblock %}